<h2>About me</h2>

<article>
  <h3 class = "name">Rahul Khanna</h3>
  <hr>
  <div class = "content">
    <p>Hi everyone, I am Rahul a junior Computer Science major at the University of Maryland College Park. One of
      my favorite things to do is too listen to music. My favorite genres as evidenced by the filters are Hip-Hop/Rap
      and R&B/Soul. This simple website was designed to be a place where music lovers like me, could post their
      opinions on any album be it old or new. You are also able to add songs that you are listenting to currently and want
      others to know about.This website shows two of my passions which are coding and music, and I hope you enjoy using it.</p>
  </div>
    <h5 class = "insp_quote">Random Inspirational Quote: {{quote}}</h5>
</article>
