<h2>Chat Room</h2>

<article>
  <h3>Talk about music here</h3>
  <hr>
  <ul id = "list_messages"></ul>
  <div class = "input-field">
    <form id = "c_box" action = "">
      <input id = "c_m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</article>
